@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FAFAFA
}

h1 {
  height: 0px;
  width: 0px;
}

h2 {
  color: #2B2B2B;
  font-size: 24px;
  font-weight: bold;
}

h3 {
  color: #262626;
  line-height: 29px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
}

p {
  color: #868686;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 19px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 13px;
  margin-bottom: 6px;
}

input, textarea, select {
  letter-spacing: auto;
  line-height: normal;
  padding: 16px;
  font-size: 12px;
  color: #262626;
  background-color: #FAFAFA;
  transition: .23s;
  transition-property: outline;
}

select {
  color: #262626;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: solid  #F27623;
  box-shadow: 0px 7px 10px gray;
}

form {
  gap: 24px;
}

a {
  font-size: 18px;
}

button.main {
  height: 39px;
  padding-left: 48px;
  padding-right: 48px;
  border-radius: 20px;
  background-color: #F27623;
  font-weight: bold;
  color: white;
  font-size: 12px;
  transition: .17s;
}

button.main:disabled {
  background-color: #868686;
  cursor: auto;
}

button.main:hover {
  text-decoration: underline;
  background-color: #E95E30;
}

button.main:active {
  background-color: #FAFAFA;
}

button:focus-visible {
  outline: 4px solid #E95E30;
  outline-offset: 3px;
  text-decoration: underline;
}